
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin:0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chess Board  */

body{
  display: block;
  margin: auto;
  /* width: 500px; */
  margin-top:10px;
  /* margin-bottom:50px; */
  margin-left:100px;
  margin-right:100px;
}

.square{
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0px;
  animation: fadeIn 1s;
}

#boardOuter{
  height: 450px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#boardInner{
  border: solid 1px black;
  width: 400px;
  height: 400px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
}

#numberContainer{ 
 width: 400px;
 height: 50px;
  margin-left:24px;
}

#letterContainer{
  width: 47px;
  display: inline-block;
  height: 400px;
  margin-top:1px;
}

.label {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  width: 400px;
  height: 50px;
}

/* End-Of Chess Board */

